USE [master]
GO
/****** Object:  Database [FoodRecipes]    Script Date: 10/26/2020 10:18:51 PM ******/
CREATE DATABASE [FoodRecipes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodRecipes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FoodRecipes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodRecipes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FoodRecipes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodRecipes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodRecipes]
GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[FoodID] [int] NOT NULL,
	[FoodName] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NULL,
	[IsFavor] [bit] NULL,
	[Type] [nvarchar](50) NULL,
	[Area] [nvarchar](50) NULL,
	[Ration] [tinyint] NULL,
 CONSTRAINT [PK_FOOD] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOODIMAGE]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOODIMAGE](
	[FoodID] [int] NOT NULL,
	[Step] [tinyint] NOT NULL,
	[Ordinal] [tinyint] NOT NULL,
	[ImagePath] [nvarchar](200) NULL,
 CONSTRAINT [PK_FOODIMAGE] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC,
	[Step] ASC,
	[Ordinal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[FoodID] [int] NOT NULL,
	[IngredientName] [nvarchar](50) NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[Unit] [nvarchar](20) NULL,
 CONSTRAINT [PK_INGREDIENT] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC,
	[IngredientName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIPE]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE](
	[FoodID] [int] NOT NULL,
	[Step] [tinyint] NOT NULL,
	[Content] [nvarchar](1000) NULL,
 CONSTRAINT [PK_RECIPE] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC,
	[Step] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[FOOD] ([FoodID], [FoodName], [CreateDate], [IsFavor], [Type], [Area], [Ration]) VALUES (1, N'Bánh Bột Lọc Trần Nhân Tôm', CAST(N'2020-10-24' AS Date), 1, N'Bánh', N'Miền Trung', 4)
INSERT [dbo].[FOOD] ([FoodID], [FoodName], [CreateDate], [IsFavor], [Type], [Area], [Ration]) VALUES (2, N'Cơm hến', CAST(N'2020-10-24' AS Date), 0, N'Cơm', N'Miền Trung', 4)
GO
INSERT [dbo].[FOODIMAGE] ([FoodID], [Step], [Ordinal], [ImagePath]) VALUES (1, 1, 0, N'C:\Users\Minh Tan\Desktop\Animals Picture\bat.jpg')
INSERT [dbo].[FOODIMAGE] ([FoodID], [Step], [Ordinal], [ImagePath]) VALUES (1, 1, 1, N'C:\Users\Minh Tan\Desktop\Animals Picture\cat.jpg')
INSERT [dbo].[FOODIMAGE] ([FoodID], [Step], [Ordinal], [ImagePath]) VALUES (1, 1, 2, N'C:\Users\Minh Tan\Desktop\Animals Picture\dog.jpg')
GO
INSERT [dbo].[INGREDIENT] ([FoodID], [IngredientName], [Amount], [Unit]) VALUES (1, N'Bột năng', CAST(200.00 AS Decimal(10, 2)), N'gr')
INSERT [dbo].[INGREDIENT] ([FoodID], [IngredientName], [Amount], [Unit]) VALUES (1, N'Dầu ăn', CAST(1.00 AS Decimal(10, 2)), N'muỗng canh')
INSERT [dbo].[INGREDIENT] ([FoodID], [IngredientName], [Amount], [Unit]) VALUES (1, N'Đường trắng', CAST(5.00 AS Decimal(10, 2)), N'muỗng canh')
GO
INSERT [dbo].[RECIPE] ([FoodID], [Step], [Content]) VALUES (1, 0, N'Bánh Bột Lọc Trần Nhân Tôm là món ăn ngon nổi tiếng của ẩm thực Huế. Cách làm bánh bột lọc nhân tôm ngon có vỏ bánh trong suốt và dẻo dai, bao lấy phần nhân tôm đậm đà, chấm ăn cùng nước mắm mặn ngọt, cay thơm hấp dẫn. Đặc biệt, cách làm bánh bột lọc nhân tôm đơn giản này của Cooky giúp bạn vừa có món ăn ngon an toàn sức khỏe, vừa tiết kiệm nữa đấy.')
INSERT [dbo].[RECIPE] ([FoodID], [Step], [Content]) VALUES (1, 1, N'Cách làm bánh bột lọc: Đun sôi 300ml nước, cho 1 muỗng canh dầu ăn và 1/2 muỗng cà phê muối vào. Cho từ từ hỗn hợp nước sôi vào 200gr bột năng khuấy đều, trộn và nhồi đến khi nào khối bột hòa quyện không dính tay thì dừng lại.')
INSERT [dbo].[RECIPE] ([FoodID], [Step], [Content]) VALUES (1, 2, N'Trải bột ra cho đều trên giấy nến rồi cán thật mỏng, khoảng 1mm. Dùng khuôn cắt bột thành những hình tròn đều nhau.')
GO
ALTER TABLE [dbo].[FOODIMAGE]  WITH CHECK ADD  CONSTRAINT [FK_FOODIMAGE] FOREIGN KEY([FoodID], [Step])
REFERENCES [dbo].[RECIPE] ([FoodID], [Step])
GO
ALTER TABLE [dbo].[FOODIMAGE] CHECK CONSTRAINT [FK_FOODIMAGE]
GO
ALTER TABLE [dbo].[INGREDIENT]  WITH CHECK ADD  CONSTRAINT [FK_INGREDIENT] FOREIGN KEY([FoodID])
REFERENCES [dbo].[FOOD] ([FoodID])
GO
ALTER TABLE [dbo].[INGREDIENT] CHECK CONSTRAINT [FK_INGREDIENT]
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD  CONSTRAINT [FK_RECIPE] FOREIGN KEY([FoodID])
REFERENCES [dbo].[FOOD] ([FoodID])
GO
ALTER TABLE [dbo].[RECIPE] CHECK CONSTRAINT [FK_RECIPE]
GO
/****** Object:  StoredProcedure [dbo].[GetAllFoodImageAtStep]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAllFoodImageAtStep] 
@foodID int, @step tinyint
as
BEGIN
select Ordinal, ImagePath
from FOODIMAGE
where FoodID=@foodID and Step=@step
order by Ordinal
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllIngredient]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllIngredient] @foodID int
as
begin
	select FoodID, IngredientName, Amount, Unit
	from INGREDIENT
	where FoodID=@foodID
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllStepAtRecipe]    Script Date: 10/26/2020 10:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllStepAtRecipe] @foodID int
as
begin
	select FoodID, Step, Content
	from RECIPE
	where FoodID=@foodID
end
GO
USE [master]
GO
